body {
  margin-top: 100px;
}

header {
  width: 400px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

h5,
h4 {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  width: 700px;
  margin: 100px auto;
}

.rating__bar {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 40px;
}

.rating__bar div {
  flex: 1;
  background-color: #a9a9a9;
  border-left: 1px solid white;
  position: relative;
  display: flex;
}

.rating__bar div span {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.rating__bar div:first-child::before {
  position: absolute;
  content: "";
  border: 20px solid white;
  border-right-color: transparent;
  left: -10px;
}

.rating__bar div:last-child::before {
  position: absolute;
  content: "";
  border: 20px solid white;
  border-left-color: transparent;
  right: -10px;
}
/* .rating__bar div:first-child:hover {
  background: #d60f0f;
}
.rating__bar div:nth-child(2):hover,
.rating__bar div:first-child:hover {
  background: #d60f0f;
} */
button {
  width: 100px;
  height: 30px;
  border: none;
  display: block;
  margin: 0 auto;
  color: #222222;
}
